@import url("/css/GothamSSm.css");

body {
    font-family: "Gotham SSm", Helvetica, Arial, sans-serif;
    color: #333;
    line-height: 1.6;
}

h1 {
    margin-bottom: 10px;
    font-size: 32px;
}
h2 {
    line-height:1.2em;
    margin-bottom: 22px;
}
h3 { margin-bottom: 10px; }

hr { margin: 33px 0; }

a {
    color: #6d8ac4;
    font-weight: 700;
}
a:hover {
    color: #bccae5;
    text-decoration: none;
}

.container { margin-top: 50px; }

.header {
    padding-bottom: 25px;
    padding-top: 40px;
}

.footer { margin: 66px 0; }


/*
 NAVIGATION
*/
#big-picture-logo {
    font-size:22px;
    display: block;
    margin-bottom:44px;
    float:left;
}
#big-picture-logo a { font-weight:normal; }
#big-picture-logo img { width: 100px; }

#big-picture-nav li {
    list-style: none;
    float:right;
    font-size:14px;
    line-height:34px;
    margin-left:22px;
}
#big-picture-nav li a { font-weight:normal; }


/*
 COMMON STYLES FOR LISTS OF THINGS
*/
article {
    padding: 0 0 44px 0;
    margin: 0;
}
article h6 {
    color: #999;
    font-weight: 400;
    margin-bottom: 5px;
}
article.external h6 {
    margin-bottom: 9px;
    background-color: #ccc;
    color: #fff;
    padding: 2px 5px;
    display: inline-block;
}
article img {
    display: block;
    margin-bottom: 11px;
    max-width: none;
    width: 100%;
    height: auto;
}

.entry {
    color: #666;
    font-size: 14px;
    margin-bottom: 0;
}
.entry h1 {
    margin-bottom: 22px;
    font-size: 44px;
    line-height: 1.2em;
    font-weight: normal;
}
.entry h2 { margin:44px 0 22px; }
.entry h3 { margin:0 0 22px; }
.entry h4 {
    font-size: 16px;
    margin: 0 0 11px 0;
    font-weight: normal;
}
.entry a { color: #6d8ac4;}
.entry a:hover { color: #bccae5;}
.entry section p { margin: 0 0 22px; }
.entry section { font-size: 16px; line-height: 1.5em; margin-top:44px;}
.entry section img { display: block; margin: 0 0 22px;}
.entry ul { margin: 0px 0px 22px 33px; }
.entry ul li { list-style: square; }
.entry ul ul { margin-bottom: 0; }
.entry .caption { line-height: 1.1; }

.post-meta {
    color:#666;
    font-size: 12px;
    padding: 10px 0 0 0;
}
.post-meta ul {
    list-style: square;
    padding: 0px;
    margin: 0 0 0 1.2em;
    font-size: 12px;
}
.post-meta li {
    padding-right: 10px;
    margin: 0 0 5px 0;
}
.post-meta a { font-weight: 400; }


/*
  HOMEPAGE
*/
#homepage {
    text-align: center;
    padding-bottom: 33px;
}
#homepage section {
    margin-bottom: 1px;
    padding-top: 44px;
    padding-bottom: 22px;
}
#homepage .container { margin-top: 0; }
#homepage h2 {
    text-align: center;
    font-weight: 400;
    margin: 0 0 22px 0;
}
#homepage h2 a {
    color: #333;
    font-weight: 400;
}
#homepage h2 a:hover { color: #787878; }


/* hp header */
#homepage #header {
    background-color: #777;
    color: #ccc;
    -webkit-font-smoothing: antialiased;
    padding-top: 66px;
    padding-bottom: 33px;
}
#header h1 {
    margin: 0 0 15px 0;
    font-size: 44px;
    font-weight: 400;
    color: #fff;
}
#header h2 {
    margin: 0 0 11px 0;
    color: #ccc;
    font-size: 18px;
}
#header p {
    font-size: 12px;
    margin-bottom: 0;
}
#header p.manifesto {
    font-size: 14px;
    margin-bottom: 33px;
}
#header strong {
    background-color: #f19e14;
    padding: 2px 5px;
    color: #333;
    margin: 0 5px 0 15px;
}
#header .job strong { margin-left: 0; }
#header a { color: #color: #fff;; }
#header em {
    font-style: normal;
    margin-left: 3px;
}
#header a {
    font-weight: 700;
    color: #fff;
}

#homepage p.more a {
    display: inline-block;
    line-height: 1.4;
    padding: 7px 15px 10px;
    color: #777;
    border-radius: 4pt;
    background-color: rgba(0, 0, 0, 0.07);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.18182em;
    font-size: 11px;
    font-weight: 700;
    transition: background-color 0.1s ease-out, color 0.1s ease-out;
}
#homepage p.more a:hover {
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
}
#homepage p.more a:after {
    content: ' \203A';
    font-size: 16px;
    line-height: 1.1;
}

/* hp lists */
#homepage article {
    text-align: center;
    padding: 0 0 22px 0;
    margin-bottom: 11px;
    border-bottom: none;
}
#homepage article h3 {
    font-size: 16px;
    margin-bottom: 5px;
}

/* hp apps list */
#homepage #work { background-color: #ddd; }

/* hp tools list */
#homepage #tools-hp { background-color: #f1f1f1; }

/* hp blog list */
#homepage #blog-hp article h3 { font-size: 14px; }
#homepage #blog-hp article .entry { font-size: 12px; }


/*
 PORTFOLIO-TYPE PAGES
*/
.things { margin-top:22px; }
.things h2 {
    font-size: 28px;
    margin: 0 0 11px 0;
    font-weight:normal;
}
.things p.subtitle {
    font-size: 15px;
    color: #777;
    margin: 0 0 44px 0;
}
.things h3 { font-size: 18px; }
.things .post-meta { padding-top: 15px; }


/*
 BLOG
*/
#blog { margin-top:22px; }
#blog header { margin-bottom: 44px; }
#blog header h2 {
    font-size: 28px;
    margin: 0 0 11px 0;
    font-weight:normal;
}

#blog article {
    padding-bottom: 22px;
    margin-bottom: 22px;
}
#blog article:not(:last-child) { border-bottom: 1px solid #e6e6e6; }
#blog article header {
    margin-bottom: 0;
}

#blog .post-meta { color: #999; }
#blog .post-meta ul {
    list-style: none;
    margin-left: 0;
}

#disqus_thread { padding-top: 20px; }

cite {
    float: right;
    font-size: 11px;
    text-decoration: none;
    color: #666;
}

code {
    padding: 2px 4px;
    color: #D14;
    background-color: #F7F7F9;
    border: 1px solid #E1E1E8;
}

pre {
    background-color: #F7F7F9;
    border: 1px solid #E1E1E8;
    font-size: 13px;
    line-height: 19px;
    overflow: auto;
    padding: 6px 10px;
    border-radius: 3px;
    margin: 0 0 22px;
}

blockquote p {
    margin: 30px 20px 30px 20px;
    font-size: 14px;
    font-weight: 200;
    line-height: 23px;
}

.byline { font-size: 12px; color: #666; }

.img-right { float: right; padding: 0px 0px 5px 10px; width: 50%}
.img-left { float: left; padding: 7px 20px 5px 0px; width: 50%}

.caption-right { clear: both; float: none; font-size: 13px; padding: 0px 0px 10px 10px; }
.caption-left { clear: both; float: none; font-size: 13px; padding: 7px 20px 10px 0px; }
.post-media-right { float: right; }
.post-media-left { float: right; }

.twitter-timeline { width:100%; height:888px; margin-top:20px; }

table.data {
    width: 100%;
    margin-bottom: 3em;
    font-size: 80%;
    color: #666;
}
table.data caption {
    font-weight: bold;
    color: #333;
    text-align: left;
    border-bottom: 2px solid #eee;
    padding: 0 11px 11px 11px;
}
table.data td {
    padding: 10px;
    border-bottom: 1px solid #eee;
    vertical-align: top;
}
table.data td.amt { text-align: right; }

/*styling to get books14 images side-by-side*/
.wrapper-image{
    width:100%;
    float:left;
    clear:both;
}
.col{
    float:left;
    width:45%;
    margin-right:5%;
}

.col2{
    float:left;
    width:20%;
    margin-right:5%;
}


/*
 RESPONSIVE FUN
*/
@media screen and (max-width:1000px) {
    #big-picture-nav { display:none; }
}

@media screen and (max-width:760px) {
    #homepage section {
        margin-left: -20px;
        margin-right: -20px;
        padding: 15px 20px 15px 20px;
    }
    #homepage #header {
        padding-top: 22px;
        padding-bottom: 22px;
    }
    #homepage #header h1 {
        font-size: 22px;
        margin-bottom: 22px;
    }
    #homepage #header h1 img {
        width: 90px;
        height: auto;
    }
    #homepage #header .jobs { line-height: 1.8; }
    #homepage #header .jobs span { display: block; }
    #homepage #header h2,
    #homepage #header .manifesto { display: none; }

    .nav-list { margin: 0 0 22px; }
    .nav-list li { font-size:16px; }
    .footer { margin: 22px 0; }
    p.nav-header { width:60%; margin: 20px auto 0; text-align:center;}

    .entry h1 { font-size: 33px; }
    .things img { display:none; }
}

@media print {
    body { padding: 0 60px; }
    .container { width:100%; }
    .row { margin-left:0; }
    #content { width:100%; margin:0; }
    .entry h1 { font-size:24px; }
    .entry section { font-size:12px; }
    #disqus_thread { display:none; }
}
