@import url("/css/GothamSSm.css");

body { font-family: "Gotham SSm", Helvetica, Arial, sans-serif; 
   }
a { color:#3d80a7; font-weight: bold; }
a:hover { color: #33576E; font-weight: bold; text-decoration:none; }
h1 { margin-bottom: 10px; font-size: 32px; }
h2 { line-height:1.2em; margin-bottom: 22px; }
h3 { margin-bottom: 10px; }

article { padding: 44px 0px 44px 0px; margin: 0; }
article:not(:last-child) { border-bottom: 1px solid #e6e6e6;}
cite { float: right; font-size: 11px; text-decoration: none; color: #666; }
code { padding: 2px 4px; color: #D14; background-color: #F7F7F9; border: 1px solid #E1E1E8; }
pre { background-color: #F7F7F9; border: 1px solid #E1E1E8; font-size: 13px; line-height: 19px; overflow: auto; padding: 6px 10px; border-radius: 3px; }
blockquote p { margin: 30px 20px 30px 20px; font-size: 14px; font-weight: 200; line-height: 23px; }

.social { padding: 5px 5px 12px 0px; }
.fb-like { float: left; margin: 0px 10px 10px 0px; }

.entry li { list-style: square; line-height:22px; }
.entry ul { line-height: 20px; margin: 0px 0px 10px 30px; }
.byline { font-size: 12px; color: #666; }

.footer { margin-top: 20px; color: #666; }

.nav-list {
    padding: 0;
    margin: 0 0 44px;
}
.nav-list li {
    font-size:22px;
    line-height:2em;
    text-align:center;
}
.nav-list li a {
}

.header { padding-bottom: 25px; padding-top: 40px; }

.img-right { float: right; padding: 0px 0px 5px 10px; width: 50%}
.img-left { float: left; padding: 7px 20px 5px 0px; width: 50%}

.caption-right { clear: both; float: none; font-size: 13px; padding: 0px 0px 10px 10px; }
.caption-left { clear: both; float: none; font-size: 13px; padding: 7px 20px 10px 0px; }
.post-media-right { float: right; }
.post-media-left { float: right; }

.entry { font-size: 18px; line-height: 1.5em; }

.post-meta { color:#666; font-size: 12px; padding: 10px 0 0 0; }
.post-meta ul { list-style: none; padding: 0px; margin: 0px; font-size: 12px; }
.post-meta li { display: inline; padding-right: 10px; }
.post-pagination { font-size: 18px; }

.twitter-timeline { width:100%; height:888px; margin-top:20px; }

.container { margin-top: 50px; }

#disqus_thread { padding-top: 20px; }

#logo {
    margin: 44px 0 88px 0;
}

#logo img {
    width:100%;
}

#logo a p {
    text-align: center;
    font-size: 66px;
    margin: 44px 0 0;
    font-weight: normal;
    color: black;
}
#small-logo { display:none; }

#about h3 { clear:both; margin-top:40px; }
#about .img-mug { float: right; padding: 0px 0px 5px 10px; width:73px; height:73px;}

/*.apps-grid {
	margin-top: 30px;
}
*/
.app {
	border-style: solid;
	border-color: #ebebeb;
	border-width: 0 0 1px 0;
	margin-bottom: 30px;
	padding-bottom: 30px;
}

.grid h3 a {
	font-size: 24px;
	/*font-weight: normal;*/
}

.grid img {
	width: 200px;
	display: block;
	border-style: solid;
	border-color: #ebebeb;
	border-width: 1px;
	
}

.text-grid {
	padding: 30px 0 30px 0;
	margin-top: 37px;
	font-size: 14px; 
	color: #333;
}

.text-grid a {
	float: right;
}

@media screen and (max-width:760px) {
    #small-logo { display: block; }
    #small-logo img { width: 100px; }
}
@media screen and (max-width:760px) {
    #rail { margin-top:20px; }
    #logo { text-align:center; }
    #logo img { width:100px; }
    p.nav-header { width:60%; margin: 20px auto 0; text-align:center;}
}

@media screen and (max-width:480px) {
    .grid .text-grid a {bottom: 5%;}
}
