body { border-top: 10px solid black; }
a { color:#3d80a7; font-weight: bold; }
a:hover: { color: #33576E; font-weight: bold; text-transform: underline; }
h1 { margin-bottom: 10px; font-size: 32px; }
h2 { line-height:28px; margin-bottom: 10px; }
h3 { margin-bottom: 10px; }
hr { margin: 18px 0px 18px 0px; border-top: 1px solid #E6E6E6; }

article { padding: 20px 0px 20px 0px; margin: 0px 40px 0px 0px; }
article:not(:last-child) { border-bottom: 1px solid #e6e6e6;}
cite { float: right; font-size: 11px; text-decoration: none; color: #666; }
code { padding: 2px 4px; color: #D14; background-color: #F7F7F9; border: 1px solid #E1E1E8; }
pre { background-color: #F7F7F9; border: 1px solid #E1E1E8; font-size: 13px; line-height: 19px; overflow: auto; padding: 6px 10px; border-radius: 3px; }
blockquote p { margin: 30px 20px 30px 20px; font-size: 14px; font-weight: 200; line-height: 23px; }

.social { padding: 5px 5px 12px 0px; }
.fb-like { float: left; margin: 0px 10px 10px 0px; }

.entry li { list-style: square; line-height:22px; }
.entry ul { line-height: 20px; margin: 0px 0px 10px 30px; }
.byline { font-size: 12px; color: #666; }

.footer { margin-top: 20px; color: #666; }
.nav-list > li > a { color: #666; font-weight: bold; font-size: 22px; line-height: 28px; text-align: center; }
.header { padding-bottom: 25px; padding-top: 40px; }

.img-right { float: right; padding: 0px 0px 5px 10px; width: 50%}
.img-left { float: left; padding: 7px 20px 5px 0px; width: 50%}
.img-mug { float: right; padding: 0px 0px 5px 10px; }

.caption-right { clear: both; float: none; font-size: 13px; padding: 0px 0px 10px 10px; }
.caption-left { clear: both; float: none; font-size: 13px; padding: 7px 20px 10px 0px; }
.post-media-right { float: right; }
.post-media-left { float: right; }

.nav-list { margin-top: 15px; }
.entry { font-size: 14px; line-height: 22px; }
.nav .nav-header { text-transform: none; font-weight: normal; font-size: 13px; padding-bottom: 18px; }

p.nav-header { text-transform: none; font-weight: normal; font-size:14px; line-height:22px; padding-bottom: 18px; }
p.nav-header.a { text-transform: none; font-weight: normal; font-size: 12px; padding-bottom: 18px; color:#3d80a7; font-weight: bold; }

.post-meta { color:#666; font-size: 12px; font-weight: bold; padding: 10px 0 0 0; }
.post-meta ul { list-style: none; padding: 0px; margin: 0px; font-size: 12px; }
.post-meta li { display: inline; padding-right: 10px; }
.post-pagination { font-size: 18px; }

.twitter-widget { padding: 20px 0px 0px 0px; }
.twitter-timeline { width:100%; height:600px; margin-top:20px; }

.row { margin-top: 50px; }

#disqus_thread { padding-top: 20px; }
#small-logo { display:none; }

@media screen and (max-width:760px) {
    #small-logo { display: block; }
    #small-logo img { width: 100px; }
}
@media screen and (max-width:760px) {
    #rail { margin-top:20px; }
    #logo { text-align:center; }
    #logo img { width:100px; }
    p.nav-header { width:60%; margin: 20px auto 0; text-align:center;}
}
