body { border-top: 10px solid black; }
a { color:#3d80a7; font-weight: bold; }
a:hover: { color: #33576E; font-weight: bold; text-transform: underline; }
h1 { font-family: arial; margin-bottom: 10px; font-size: 32px; }
h2 { font-family: arial; }
h3 { margin-bottom: 10px; }
hr { margin: 18px 0px 18px 0px; border-top: 1px solid #E6E6E6; }
li { line-height:22px; }

article { padding: 0px 0px 20px 0px; margin: 0px 40px 0px 0px; }
cite { float: right; font-size: 11px; text-decoration: none; color: #666; }
code { padding: 2px 4px; color: #D14; background-color: #F7F7F9; border: 1px solid #E1E1E8; }
pre { background-color: #F7F7F9; border: 1px solid #E1E1E8; font-size: 13px; line-height: 19px; overflow: auto; padding: 6px 10px; border-radius: 3px; }
blockquote p { margin: 30px 20px 30px 20px; font-size: 14px; font-weight: 200; line-height: 23px; }

.social { padding: 5px 5px 12px 0px; }
.fb-like { float: left; margin: 0px 10px 10px 0px; }
.twitter-widget { padding: 20px 0px 0px 10px; }

.entry li { list-style: square; color: #555; }
.entry ul { line-height: 20px; margin: 0px 0px 10px 30px; }
.byline { font-size: 12px; color: #666; }

.footer { font-family: arial; margin-top: 15px; color: #999; }
.nav-list > li > a { color: #666; font-weight: bold; font-size: 22px; line-height: 36px; text-align: center; }
.header { padding-bottom: 25px; padding-top: 40px; }

.appslogo { padding: 20px 0px 20px 0px; }
.img-right { float: right; padding: 0px 0px 5px 10px; width: 50%}
.img-left { float: left; padding: 7px 20px 5px 0px; width: 50%}
.img-mug { float: right; padding: 0px 0px 5px 10px; }

.caption-right { clear: both; float: none; font-size: 13px; color: #333; padding: 0px 0px 10px 10px; }
.caption-left { clear: both; float: none; font-size: 13px; color: #333; padding: 7px 20px 10px 0px; }
.post-media-right { float: right; }
.post-media-left { float: right; }

.nav-list { margin-top: 15px; }
.entry { font-size: 14px; color: #333; line-height: 22px; }
.nav .nav-header { text-transform: none; font-weight: normal; color: #444; font-size: 13px; padding-bottom: 18px; }

p.nav-header { text-transform: none; font-weight: normal; color: #444; font-size: 12px; padding-bottom: 18px; }
p.nav-header.a { text-transform: none; font-weight: normal; color: #444; font-size: 12px; padding-bottom: 18px; color:#3d80a7; font-weight: bold; }

.post-meta { font-size: 12px; color: #333; font-weight: bold; padding: 10px 0px 20px 0px; border-bottom: 1px solid #CBCBCB; }
.post-meta ul { list-style: none; padding: 0px; margin: 0px; font-size: 12px; }
.post-meta li { display: inline; padding-right: 10px; }
.post-pagination { font-size: 18px; }

.twitter-widget { padding: 20px 0px 0px 0px; }

.row { margin-top: 50px; }
.span9 { max-width: 700px; border-right: 1px solid #E6E6E6; margin-left: 19px; }
.span3 { max-width: 220px; }

#disqus_thread { padding-top: 20px; }
.small-nprlogo { display:none; }
.nprlogo { padding-bottom: 20px; }

@media screen and (max-width:800px) { .row { margin-top: 20px; } }
@media screen and (max-width:760px) { .small-nprlogo {  width: 100px; padding-bottom: 15px; display: inline; margin: 10px 0 0 20px; } }
@media screen and (max-width:760px) { .nprlogo { display: none; } }
@media screen and (max-width:600px) { .span3 { margin-left: 20px; } }
@media screen and (max-width:770px) { .span9 { border-right: 0px; border-right: 0px; } .footer { margin-left: 20px; } }
