{% if page.title %}
  <meta content="{{ page.title }}" property="og:title">
{% endif %}
{% if page.title %}
  <meta content="article" property="og:type">
{% endif %}
{% if page.description %}
  <meta content="{{ page.description }}" property="og:description">
{% endif %}
{% if page.og_image %}
  <meta content="{{ site.prose.siteurl }}{{ page.og_image }}" property="og:image">
{% else %}
  <meta content="{{ site.prose.siteurl }}{{ site.prose.og_image }}" property="og:image">
{% endif %}
{% if page.url %}
  <meta content="{{ site.prose.siteurl }}{{ page.url }}" property="og:url">
{% endif %}

