---
layout: default
title: 'Our work'
---

{{ site.config }}

<div id="our-work" class="things">
    <div>
        <header>
            <h2>Our work</h2>
            <p class="subtitle">Things we've made that you can look at and listen to.</p>
        </header>
        {% for app in site.data.apps reversed %}
        {% assign loopindex = forloop.index | modulo: 2 %}
        {% if loopindex == 1 %}
        <div class="row clearfix">
        {% endif %}
        <article class="span4">
                <div class="span4">
                    <a href="{{ app.url }}"><img src="{{ app.image }}"/></a>
                </div>
                <div class="span4">
                    <header>
                        <h3>
                            {% if app.url != null %}
                            <a href="{{ app.url }}">{{ app.name }}</a>
                            {% else %}
                            {{ app.name }}
                            {% endif %}
                        </h3>
                    </header>
                    <section class="entry">{{ app.description }}</p>
                    </section>
                    <div class="post-meta">
                        <ul>
                            <li>{{ app.date }}</li>
                            {% if app.github_url != null %}
                            <li><a href="{{ app.github_url }}">Source on GitHub &#8594;</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </article>
        {% if loopindex == 0 %}
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
