---
layout: default
title: 'Things We Made'
---

{{ site.config }}

<div id="things">

    <div>
        <h2>Tools</h2>
        {% for tool in site.data.tools  %}
        <article>
            <div class="row">
                <div class="span2">
                    <a href="{{ tool.url }}"><img src="{{ tool.image }}"/></a>
                </div>
                <div class="span4">
                    <header>
                        <h3>
                            {% if tool.url != null %}
                            <a href="{{ tool.url }}">{{ tool.name }}</a>
                            {% else %}
                            {{ tool.name }}
                            {% endif %}
                        </h3>
                    </header>
                    <section class="entry">{{ tool.description }}</p>
                    </section>
                    <div class="post-meta">
                        <ul>
                            {% if tool.github_url != null %}
                            <li><a href="{{ tool.github_url }}">Source on GitHub &#8594;</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </article>
    {% endfor %}    
    </div>

    <div>
        <h2>Apps</h2>
        {% for app in site.data.apps reversed %}
        <article>
            <div class="row">
                <div class="span2">
                    <a href="{{ app.url }}"><img src="{{ app.image }}"/></a>
                </div>
                <div class="span4">
                    <header>
                        <h3>
                            {% if app.url != null %}
                            <a href="{{ app.url }}">{{ app.name }}</a>
                            {% else %}
                            {{ app.name }}
                            {% endif %}
                        </h3>
                    </header>
                    <section class="entry">{{ app.description }}</p>
                    </section>
                    <div class="post-meta">
                        <ul>
                            <li>{{ app.date }}</li>
                            {% if app.github_url != null %}
                            <li><a href="{{ app.github_url }}">Source on GitHub &#8594;</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </article>
        {% endfor %}
    </div>
</div>