---
layout: default
title: 'Tools you can use'
---

{{ site.config }}

<div id="tools" class="things">

    <div>
        <header>
            <h2>Tools you can use</h2>
            <p class="subtitle">Tools for your newsroom. Take a look through <a href="https://github.com/nprapps">all our repos</a> or read about <a href="https://github.com/nprapps/bestpractices">our best practices</a>.</p>
        </header>
        {% for tool in site.data.tools  %}
        {% assign loopindex = forloop.index | modulo: 2 %}
        {% if loopindex == 1 %}
        <div class="row clearfix">
        {% endif %}
            <article class="span4">
                <div class="span4">
                    <header>
                        <h3>
                            {% if tool.url != null %}
                            <a href="{{ tool.url }}">{{ tool.name }}</a>
                            {% else %}
                            {{ tool.name }}
                            {% endif %}
                        </h3>
                    </header>
                    {% comment %}<a href="{{ tool.url }}"><img src="{{ tool.image }}"/></a>{% endcomment %}
                    <section class="entry">{{ tool.description }}</p>
                    </section>
                    <div class="post-meta">
                        <ul>
                            {% if tool.github_url != null %}
                            <li><a href="{{ tool.github_url }}">Source on GitHub &#8594;</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </article>
        {% if loopindex == 0 %}
        </div>
        {% endif %}
    {% endfor %}
    </div>
</div>
