---
layout: default
title: 'Tools you can use'
---

{{ site.config }}

<div id="tools" class="things">

    <div>
        <header>
            <h2>Tools you can use</h2>
            <p class="subtitle">
                Tools for your newsroom. Take a look through <a href="https://github.com/nprapps">all our repos</a>, read about <a href="https://github.com/nprapps/bestpractices">our best practices</a>, and when you're ready to hack, learn <a href="http://blog.apps.npr.org/2013/06/06/how-to-setup-a-developers-environment.html">How to Setup Your Mac to Develop News Applications Like We Do</a>.</p>
        </header>
        {% for tool in site.data.tools  %}
        {% assign loopindex = forloop.index | modulo: 2 %}
        {% if loopindex == 1 %}
        <div class="row-fluid">
        {% endif %}
            <article class="span6">
                <div class="span12">
                    <header>
                        <h3>
                            {% if tool.url != null %}
                            <a href="{{ tool.url }}">{{ tool.name }}</a>
                            {% else %}
                            {{ tool.name }}
                            {% endif %}
                        </h3>
                    </header>
                    {% comment %}<a href="{{ tool.url }}"><img src="{{ tool.image }}"/></a>{% endcomment %}
                    <section class="entry">{{ tool.description }}</p>
                    </section>
                    <div class="post-meta">
                        {% if tool.links != null %}
                        <ul>
                            {% for link in tool.links %}
                                <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                </div>
            </article>
        {% if loopindex == 0 %}
        </div>
        {% endif %}
    {% endfor %}
    </div>
</div>
