---
layout: base
title: 'Things We Made'
---

{{ site.config }}

<div id="things">

    <div>
        <h2>Tools</h2>
        {% for tool in site.data.tools  %}
        {% assign loopindex = forloop.index | modulo: 3 %}
        {% if loopindex == 1 %}
        <div class="row clearfix">
        {% endif %}
            <article class="span4">
                <div class="span4">
                    <header>
                        <h3>
                            {% if tool.url != null %}
                            <a href="{{ tool.url }}">{{ tool.name }}</a>
                            {% else %}
                            {{ tool.name }}
                            {% endif %}
                        </h3>
                    </header>
                    {% comment %}<a href="{{ tool.url }}"><img src="{{ tool.image }}"/></a>{% endcomment %}
                    <section class="entry">{{ tool.description }}</p>
                    </section>
                    <div class="post-meta">
                        <ul>
                            {% if tool.github_url != null %}
                            <li><a href="{{ tool.github_url }}">Source on GitHub &#8594;</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </article>
        {% if loopindex == 0 %}
        </div>
        {% endif %}
    {% endfor %}
    </div>
</div>
