---
layout: base
---

<div class="container">
    {% if page.big_picture %}
    <div class="row">
        <div class="span2">&nbsp;</div>
        <div class="span8">
            <div id="big-picture-logo">
                <a href="/"><img src="/img/nprlogo.gif"/> visuals team</a>
            </div>
            <ul id="big-picture-nav">
                <li><a href="https://twitter.com/nprviz/the-team/members">The Team</a></li>
                <li><a href="https://github.com/nprapps">Source</a></li>
                <li><a href="/apps/">Things We Made</a></li>
            </ul>
        </div>
        <div class="span2">&nbsp;</div>
    </div>
    <div class="row">
        <div class="span12">
            <img src="{{ page.big_picture }}">
            <p><small>{{ page.big_picture_caption }}</small></p>
        </div>
    </div>
    <div class="row">
        <div class="span2">&nbsp;</div>
        <div class="span8" id="content">
            {{ content }}
        </div>
        <div class="span2">&nbsp;</div>
    </div>
    <!-- <div class="row">
        <div class="span2">&nbsp;</div>
        <div class="span8" id="rail">
            <div id="logo">
                <h1>
                    <a href="/"><img src="/img/nprlogo.gif"/> visuals team</a>
                </h1>
            </div>
            <ul class="nav nav-list">
                <li><a href="/apps/">Things We Made</a></li>
                <li><a href="https://github.com/nprapps">Source On GitHub</a></li>
                <li><a href="https://twitter.com/nprviz/the-team/members">Meet The Team</a></li>
            </ul>
        </div>
        <div class="span2">&nbsp;</div>
    </div> -->
    {% else %}
    <div class="row">
        <div id="small-logo"><a href="/"><img src="/img/nprlogo.gif"/> visuals team</a></div>
        <div class="span1">&nbsp;</div>
        <div class="span6" id="content">
            {{ content }}
        </div>
        <div class="span1">&nbsp;</div>
        <div class="span3" id="rail">
            <div id="logo">
                <h1>
                    <a href="/"><img src="/img/nprlogo.gif"/> visuals team</a>
                </h1>
            </div>
            <ul class="nav nav-list">
                <li><a href="/apps/">Things We Made</a></li>
                <li><a href="https://github.com/nprapps">Source On GitHub</a></li>
                <li><a href="https://twitter.com/nprviz/lists/the-team/members">Meet The Team</a></li>
            </ul>
        </div>
        <div class="span1">&nbsp;</div>
    </div>
    {% endif %}
</div>
