---
layout: default-footer
---
<article class="entry">
    <header>
        <h1>{{ page.title }}</h1>
        <p class="byline">
          {% if page.author %}
            By <a href="https://twitter.com/{{ page.twitter }}">{{ page.author }}</a> |
          {% endif %}
          {{ page.date | date: "%B %d, %Y" }}
        </p>
    </header>
    <section>{{ content }}</section>
    <!-- <div class="vizgigs">
      <h2>Never miss a gig</h2>
      <form action="https://tinyletter.com/nprviz" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/nprviz', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
        <p>Join the <a href="https://tinyletter.com/nprviz/">Visuals Gigs mailing list</a> to get an email when we post internships and full-time jobs.</p>
        <p><input type="text" name="email" id="tlemail" placeholder="What's your email?" /></p>
        <p>Your membership will be kept confidential.</p>
        <input type="hidden" value="1" name="embed"/>
        <input type="submit" value="Subscribe" />
      </form>
    </div> -->
</article>
